.file-explorer
  .file-explorer_path Path:
    span(ng-repeat='component in files track by $index') {{ component.name }} 
  div(fs-file-view, fs-files='getCurrentFileList().files', fs-click='fileClicked($file)')