.file-explorer
  .file-explorer_path Path:
    span(class='path-component') root
    span(ng-repeat='component in files track by $index')
      .path-separator / 
      .path-component {{ component.name }} 
  div(fs-file-view, fs-files='getCurrentFileList().files', fs-click='fileClicked($file)')