html
  head
    title The Magic File Browser
    link(rel='stylesheet', type='text/css', href='/public/css/style.css')
    script(src='/public/js/lib/underscore.js')
    script(src='/public/js/lib/angular.js')
    script(src='/public/js/controllers.js')
  body(ng-app='files', ng-controller='fsFileController')
    h1 Check it 
      a(href='https://github.com/epeld/files') out

    div(fs-simple-explorer, fs-lsdir='lsdir')