
.file-item {
    background: lightyellow;
    cursor: pointer;
    padding: 1em 0.5em;
}

.file {
    background: white;
}

.directory:hover {
    background: chocolate;
}

.file:hover {
    background: lightblue;
}
